* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fdf8f6;
  color: #4a3b37;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 8%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 600;
}

.logo-img {
  width: 38px;
}

.navbar nav a {
  margin: 0 14px;
  text-decoration: none;
  color: #777;
  font-size: 15px;
  transition: 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
  color: #e07a8d;
}

.user {
  font-size: 14px;
  color: #777;
}


.shop {
  padding: 80px 8%;
  text-align: center;
  background: #faf6f3;
}

.shop h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 12px;
}

.subtitle {
  color: #9a8f8b;
  font-size: 15px;
  margin-bottom: 50px;
}


.filters {
  margin-bottom: 60px;
}

.filters button {
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  margin: 6px;
  background: #f3e6e2;
  color: #6e5f5b;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.filters button:hover {
  background: #eac9d1;
}

.filters button.active {
  background: #e07a8d;
  color: white;
  box-shadow: 0 5px 15px rgba(224,122,141,0.4);
}



.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}


.card {
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.05);
  transition: all 0.4s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.07);
}

.card-content {
  padding: 24px;
}

.card h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  color: #888;
  line-height: 1.6;
}

.price {
  margin: 18px 0;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.card button {
  width: 100%;
  padding: 13px;
  border-radius: 25px;
  border: none;
  background: #e07a8d;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #c86576;
  transform: translateY(-2px);
}
