/* إعدادات صفحة الدخول لتكون في المنتصف تماماً */
.login-page {
    background-color: #FAF6F1; /* لون الخلفية الكريمي */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-logo h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #332A28;
    margin: 10px 0;
}


.icon-circle {
    background-color: #ffffff;
    width: 80px;         
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;     
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

.login-logo-img {
    width: 70%;           
    height: auto;
    object-fit: contain;
}

.subtitle {
    color: #8C7A76;
    font-size: 14px;
    margin-bottom: 30px;
}

.login-card {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.03); 
}

.input-group {
    text-align: left;
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #332A28;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #F0E2E4;
    border-radius: 12px;
    background-color: #FCFAFA;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #D68C93;
}

.login-btn {
    width: 100%;
    background-color: #D68C93; 
    color: white;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #C17A81;
    transform: translateY(-2px);
}

.login-footer {
    margin-top: 30px;
    font-size: 12px;
    color: #A69794;
}